
<?xml version="1.0" ?>
<robot name="table">
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
   </material>
  <link name="table">
    <contact>
      <lateral_friction value="0.1"/>
    </contact>
    <inertial>
      <origin rpy="0.0001 0 0" xyz="0.0001 0 0"/>
       <mass value="0.000"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0.46 0.7"/>
      <geometry>
				<box size="1.5 1 0.05"/>
      </geometry>
       <material name="framemat0">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0.46 0.7"/>
      <geometry>
	 	<box size="1.5 1 0.05"/>
      </geometry>
    </collision>
	<visual>
      <origin rpy="0.000 0 0" xyz="-0.65 0.15 0.35"/>
      <geometry>
	    <box size="0.1 0.1 .7"/>
      </geometry>
	  <material name="framemat0"/>	 
    </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="-0.65 0.95 0.35"/>
      <geometry>
        <box size="0.1 0.1 .7"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="0.65 0.15 0.35"/>
      <geometry>
        <box size="0.1 0.1 .7"/>
      </geometry>
	  <material name="framemat0"/>
	  </visual>
    <visual>
      <origin rpy="0.000 0 0" xyz="0.65 0.95 0.35"/>
      <geometry>
        <box size="0.1 0.1 .7"/>
      </geometry>
    <material name="framemat0"/>
    </visual>
    
    <collision>
      <origin rpy="0.000 0 0" xyz="-0.65 0.15 0.35"/>
      <geometry>
	    <box size="0.1 0.1 ,7"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="-0.65 0.95 0.35"/>
      <geometry>
        <box size="0.1 0.1 0.7"/>
      </geometry>
	  </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="0.65 0.15 0.35"/>
      <geometry>
        <box size="0.1 0.1 .7"/>
      </geometry>
	  </collision>
    <collision>
      <origin rpy="0.000 0 0" xyz="0.65 0.95 0.35"/>
      <geometry>
        <box size="0.1 0.1 .7"/>
      </geometry>
    </collision>
    <visual>
      <origin rpy="0 0 0" xyz="0. 0.26 .75"/>
      <geometry>
				<box size="0.9 .6 0.05"/>
      </geometry>
       <material name="framemat0">
        <color rgba="0.8 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0.55 .75"/>
      <geometry>
	 	    <box size="0.9 .6 0.05"/>
      </geometry>
    </collision>
    </link>

    <link name="tabletop">
      <visual>
      <origin rpy="0 0 0" xyz="0. 0.396 .76"/>
      <geometry>
				<box size="0.534 .330 0.04"/>
      </geometry>
       <material name="framemat1">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0. 0.395 .76"/>
      <geometry>
	 	    <box size="0.534 .330 0.04"/>
      </geometry>
    </collision>
  </link>

  <joint name="tabletop_joint" type="fixed">
    <parent link="table"/>
    <child link="tabletop"/>
    <origin rpy="0 0 0" xyz="0 0 0"/> <!-- Pozícia vrchnej dosky -->
  </joint>
</robot>
